__pycache__/
*.py[cod]
.venv/
venv/
.env

.ipynb_checkpoints/
.idea/
.vscode/

runs/
artifacts/
checkpoints/
logs/

*.npy
*.pkl
*.pt
*.bin

train.csv
test.csv
sample_submission.csv
submission.csv

.DS_Store
Thumbs.db